.heading{
    font-size: 25px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
}
.note{
    font-size: 15px;
    color: blueviolet;

}
body{
    background-size: cover;
}
#song{
    font-size: 25px;
    margin: 10px;
}
canvas{
    border: 5px white;
    border-radius: 25px;
}
.play,stop{
    font-size: 23px;
    text-align: center;
    box-shadow: 5px 5px 5px gray;
    font-weight: 200px;
    float: left;
}
.stop{
    font-size: 23px;
    text-align: center;
    box-shadow: 5px 5px 5px gray;
    font-weight: 200px;
    float: right;
}
